<ion-view view-title="Sign Up">
      <ion-content>

      <form name="signupForm" ng-submit="signUp(signupForm)">
        <div class="list list-inset">
            <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="signupForm.email">
            </label>
            <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="signupForm.password">
            </label>
            <button class="button button-outline button-block button-positive">
                Sign Up
            </button>
        </div>
      </form>


      </ion-content>
      
</ion-view>